*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
}
h2{
    font-family: monospace, sans-serif;
}
nav{
    width: 100%;
    height: 100px;
}
body{
    background-color: #2B074D;
    
}
#header{
    color: greenyellow;
    text-align: center;
    padding: 40px 0 10px 0;
    font-family: "Fredoka One", sans-serif;
}
#main{
    color: white;
    margin: 100px;
    font-family: Arvo, "sans-serif";
    text-align: center;
}
#footer{
    background: linear-gradient(90deg,#2B074D, rgb(156, 245, 55), #2B074D);
    color: black;
    padding: 10px 0;
    margin: 100px;
    text-align: center;
    float: down;
}
nav ul{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
nav ul li{
   list-style: none;
   display: inline-block;
   border-radius: 5px;
   line-height: 50px;
   background-color: grey;
  
}
nav ul li:hover{
    animation-name: tabhover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes tabhover{
    100%{
        background-color: greenyellow
    }
}

nav ul li a{
    display: block;
    text-decoration: none;
    font-family: monospace;
    color:aqua;
    padding: 0 50px;
}
nav ul li a:hover{
    color: white;
    text-decoration: none;
}
.intro{
    background-color: rgb(58, 0, 151);
    padding: 20px 50px;
}
.intro img{
    width: 22%;
    height: 35%;
}
.roles-container{
    display: grid;
    padding: 20px 00px;
    
    grid-template-columns: 100px 200px 200px 200px;
    grid-template-areas:
        "nothing ta cs kslb"
        "text tainfo csinfo kslbinfo"
        "text2 myta mycs mykslb"
}
.tac{
    grid-area: ta;
}

.sidenav {
    height: 400px; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
     /* Fixed Sidebar (stay in place on scroll) */
    float: right;
    background-color: yellow; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px 0;
    margin: 50px 100px;
  }
  
  /* The navigation menu links */
  .sidenav h3{
      font-family: 'Caveat', sans-serif;
      font-size: 35px;
      padding: 0 0 0 30px;
  }
  .sidenav a {
    padding: 0px 8px 10px 35px;
    text-decoration: none;
    font-family: 'Times New Roman',sans-serif;
    font-size: 15px;
    color: black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #8400ff;
    transform: scale(1.1);
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#article-content{
    background-color: white;
    font-size: 14px;
    padding: 0px ;
}
#wrapper{
    width: 800px;
    margin-left: 100px;
    margin-right: 500px;
}
#article-header{
    background-color: mediumblue;
    color: magenta;
    font-size: 100px;
    font-family: Caveat, sans-serif;
    font-weight: 80px;
    margin-left: 200px;
    padding: 0px 0 150px 5px;
    height: 0px;
    width: 100%;
    margin-bottom: 10px;
}
.header-img{
    width: 20%;
    height:20%;
    padding: 0 10px;
}

.post{
    background-color: white;
    padding: 5px;
    border: 5px solid black;
    margin-bottom: 5px;
}
.post h2{
    font-family: 'Arvo', Times, serif;
    padding: 20px 0 0 40px;
    font-size: 45px;
}
.post time{
    padding: 0 40px;
}
.post p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 20px 40px;
}
.post p:last-child{
    margin-bottom: 20px;
}
.blog1-img{
    padding: 10px 60px;
    
}
.blog2-img{
    transform: scale(.8);
    position: relative;
    right: 20px;
}

/*Game stuff below*/
.DuckTreeGame{
    border: none;
    width: 650px;
    height: 650px;
}
.RecyclWGame{
    border: none;
    width: 850px;
    height: 650px;
}